@{
    ViewBag.Title = "Bakery";
}

<h2>Bakery</h2>

<p>
    View an assortment of all of our products and services below.
</p>

<div>
    <div>@Html.ActionLink("Browse", "Browse")</div>
    <p>Browse through all our products and find your favorite treat!</p>
</div>

<div>
    <div>@Html.ActionLink("Place an Order", "Order")</div>
    <p>After browsing our products, be sure to buy your favorite item!</p>
</div>

<div>
    <div>@Html.ActionLink("Request Something New", "RequestProduct")</div>
    <p>Want to see something new? Suggest a product to our staff!</p>
</div>
