@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>
<h3>@ViewBag.Message</h3>

<p>We may be small, but hopefully with your help and the help of our Montana farmers markets, we can make our business grow. </p>
