@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    P.O. Box 902<br />
    Arlee, MT 59821<br />
    <abbr title="Phone">Tracy:</abbr>
    406.531.1609<br />
    <abbr title="Phone">Trisha:</abbr>
    406.529.9657
</address>

<address>
    <strong>Support:</strong>    <a href="mailto:toppindustries@gmail.com">toppindustries@gmail.com</a>
</address>