@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Topp Sisters Bakery</h1>
    <p class="lead">Trisha and Tracey Topp are bringing the best goodies to Missoula, Montana</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Have a look at some of the products currently available
        </p>
        <p><a class="btn btn-default" href="/Bakery">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Learn more about what the bakery is all about and its purpose</p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Have questions or concerns about the bakery or its products? Click here to contact us! </p>
        <p><a class="btn btn-default" href="/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>